.imageUploadButton {
    width: 10rem;
    height: 40px;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: black;
}