.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(transparent, #76DB98);
    color: a#fff;
    font-size: 1.5rem;
    font-weight: 500;
  }